<html>

<header>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'fertilizerapp/style.css' %}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</header>

<body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">MonMassion</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          <a href="new_fertilizer"><button type="button" class="btn btn-info">Add Fertilizer</button></a>

      </div>
    </div>


    <div class="container">
        {% if latest_fertilizer_list %}
            <div class="row">
            {% for fertilizer in latest_fertilizer_list %}
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                  <div class="card">
                      <div class="card-header">
                            <h2 class="card-title mx-auto text-center">{{ fertilizer.fertilizer_text }}</h2>
                      </div>
                      <img class="img-thumbnail" style="height: 30%;" src="https://ochun.shop/image/cache/catalog/Producten/cacao-boon-800x800.jpg" alt="Card image cap">
                      <div class="card-body">
                            <p class="card-text mx-auto text-center">{{ fertilizer.description_text|slice:"0:199" }}...</p>

                      </div>

                      <a href="/fertilizerapp/{{ fertilizer.id }}/" class="card-link"><button type="button" class="btn btn-info" style="padding-left: 37%; padding-right: 37%">Read More...</button></a>
                  </div>
                </div>
              {% endfor %}
            </div>

        {% else %}
            <p>No Fertilizers are available.</p>
        {% endif %}
    </div>


</body>
</html>
