<html>

<header>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />

</header>

<body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">MonMassion</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          <button type="button" class="btn btn-info"><a href="add">Add Fertilizer</a></button>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
            <div class="card">
              <img class="img-thumbnail" style="height: 30%;" src="https://ochun.shop/image/cache/catalog/Producten/cacao-boon-800x800.jpg" alt="Card image cap">
              <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <ul class="list-group">
                    <li class="list-group-item">Fertilizer: Fertilizer one</li>
                    <li class="list-group-item">Crop: cocao</li>
                    <li class="list-group-item">Weather condition: Dry</li>
                  </ul>
              </div>
              <button type="button" class="btn btn-info"><a href="detail">More information</a></button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
            <div class="card">
              <img class="img-thumbnail" style="height: 30%;" src="http://img.taste.com.au/bYS6wGYW/taste/2017/03/butternut-pumpkin-2-124997-1.jpg">
              <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <ul class="list-group">
                    <li class="list-group-item">Fertilizer: Fertilizer two</li>
                    <li class="list-group-item">Crop: Pumpkin</li>
                    <li class="list-group-item">Weather condition: Dry</li>
                  </ul>
              </div>
              <button type="button" class="btn btn-info"><a href="detail">More information</a></button>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
            <div class="card">
              <img class="img-thumbnail" style="height: 30%;" src="https://image.freepik.com/free-vector/vector-illustration-with-fresh-lager-beer-in-a-beer-mug-on-transparent-background_1314-523.jpg" alt="Card image cap">
              <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <ul class="list-group">
                    <li class="list-group-item">Fertilizer: Fertilizer three</li>
                    <li class="list-group-item">Crop: Beer</li>
                    <li class="list-group-item">Weather condition: Dry</li>
                  </ul>
              </div>
              <button type="button" class="btn btn-info"><a href="detail">More information</a></button>

            </div>
        </div>
      </div>
    </div>

</body>
</html>
